{% extends 'base.html' %}

{% block content %}
<h2>Add Trainer Details</h2>

<p>Welcome <strong>{{ request.user.username }}</strong> 👋. Please complete your trainer profile.</p>

<form method="POST">
    {% csrf_token %}
    
    <label>Name:</label>
    <input type="text" name="name" required><br><br>
    
    <label>Subjects:</label>
    <input type="text" name="subjects" required><br><br>
    
    <label>Expected Daily Hours:</label>
    <input type="number" step="0.5" name="expected_daily_hours" required><br><br>
    
    <input type="submit" value="Save Profile">
</form>
{% endblock %}
